@charset "utf-8";

body {
	margin: 0;
	padding: 0;
  font-family: "arial", sans-serif;
	overflow-y: hidden;
	overflow-x: hidden;

}
#mainform {
	width: 565px;
	height: 301px;
	background-image: url('../../images/common/css-admin/bg-texture-admin.png');
	margin: 0px auto;
  border: 3px solid #000;
  padding: 0;
	_text-align: center;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

p.frontend_link {
	margin: 0px auto;
 	width: 570px;
  _text-align: center;
}
.frontend_link a {
	position: relative;
  left: 490px;
  top: -30px;

	text-align: right;
	width: 200px;
	height: 20px;
}

.flash_INFO, .flash_ERROR, .flash_SUCCESS, .flash_WARNING, form .error  {
	border: 1px solid;
    margin: 10px 5px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 13px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-radius: 10px;
	opacity: 0.9;
	border: none !important;
}

.errors {
	width: 575px;
	height: 140px;
	margin: 0 auto 0 auto;
	overflow: hidden;
}
.errors .clear {
	height: 82px;
}

#captcha_auth {
margin: 10px 0;
margin-left: 30px;
}

.login-button {
	  border: 1px solid #fff;
	  -moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
width: 100px;
}

.login-button input[type=submit] {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
	  -moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
  width: 100px;
  height: 30px;

}
.login-button {
margin: 10px 0;
margin-left: 30px;
}


#withoutCaptchaSpacer {
	margin-top: 50px;
}
h1 {
text-shadow: #b58888 1px -1px 2px;
letter-spacing: 2px;
font-size: 25px;
margin: 10px 0 30px 0;
padding-top: 0px;
}
#mainform .form {
float:left;
	margin-top: 0px;
	padding: 0 25px;
	padding-top: 0px;

	color: #fff;
	height: 115px;
}

#mainform table {
margin-top: 50px;
}

td label {
padding-left: 30px;

}
td input {
margin-left: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}











#mainform input.text {
	width: 180px;
	height: 20px;
}

#loginpage ul.error {
	background-color: #000;
	color: #fff;
	list-style-type: none;
	vertical-align: baseline;
}
a {
	color: white;
}

.flash_INFO {
	background-image:url('../../images/common/css-datagrid/info.png');
	color: #00529B;
    background-color: #000;
}

.flash_ERROR, form .error {
	background-image:url('../../images/common/css-datagrid/error.png');
	color: #D8000C;
    background-color: #000;
	list-style-type: none;
}

.flash_SUCCESS {
	background-image:url('../../images/common/css-datagrid/success.png');
	color: #4F8A10;
    background-color: #000;
}

.flash_WARNING {
	background-image:url('../../images/common/css-datagrid/warning.png');
	color: #00529B;
    background-color: #000;
}
