#cms-bar-hider img {
    margin-top: 2px;
}
#cms-bar-hider {
    position:fixed;
    z-index: 9999999999;
    border-radius: 100px;
    background: #C8D400;
    width: 20px;
    height: 20px;
    text-align: center;

}


#cms-control-bar .btn {
    margin-top: 4px;
    background-color: #B5B5B5;
    border: none;
    color: black;
    padding: 3px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#cms-control-bar .btn.btn-success {background-color: #008CBA; color: black;}


#cms-control-bar .changed.isChanged { color: red; font-weight: 700;  }
#cms-control-bar .changed.isNotChanged { color: #B5B5B5; font-weight: 700; }
#cms-control-bar .ck-save-changes-button { float:right }

#cms-control-bar .left { float: left; margin-right: 10px; }
#cms-control-bar .right { float: right }
#cms-control-bar .ck-save-changes-button { display: none }


#cms-control-bar .changed { position: relative; top:10px; margin: 0 10px; }

#cms-control-bar {
    display:none;
    z-index: 999999999;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 35px;
    background: #e2e2e2; /* Old browsers */

    /*
    -moz-opacity: 0.89;
    -khtml-opacity: 0.89;
    opacity: 0.89;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=89);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=89);
    filter:alpha(opacity=89);
    */
}
#cms-control-bar .wrapper { width: 960px; margin: 0 auto; padding: 0 6px; float: none }
#cms-control-bar input.saveArticleBtn {
    margin-top: 5px
}
#cms-control-bar input.saveArticleBtn {
    -moz-box-shadow:inset 0 1px 0 0 #ffffff;
    -webkit-box-shadow:inset 0 1px 0 0 #ffffff;
    box-shadow:inset 0 1px 0 0 #ffffff;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background: #ededed;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family: arial, serif;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:24px;
    line-height:24px;
    width:76px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0 #ffffff;
}
#cms-control-bar input.saveArticleBtn:hover {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background: #dfdfdf;
}
#cms-control-bar input.saveArticleBtn:active {
    position:relative;
    top:1px;
}

.ckeditable-hover {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;

    outline: none;
}
.ckeditable-hover:hover {
    outline: 1px dashed #777;
}




.ckeditor-toggle {
    float: left;
}



#myModal {

    display: none;

}