.left { float: left; }
.right { float: right; }
.clear-left { clear: left; }
.clear-right { clear: right; }

.AlignJustify { text-align: justify; }
.clear-both { clear: both; }
.display-none { display:none; }
.clear-left { clear:left; }
.clear-right { clear:right; }

.float-right { float:right; }

.align-left {text-align: left; }
.align-right {text-align: right; }
.align-center {text-align: center; }
.align-justify {text-align: justify; }


/* nezobrazuj Actions v datagridu */
th.dont-show p { visibility: hidden; }

iframe { border: none; }
