/* 
    Document   : icons.css
    Created on : 11.3.2011, 16:15:41
    Author     : Honzik
    Description:
        Purpose of the stylesheet follows.
*/


/**************** Icons *****************/
span.icon {
    float: left;
	margin: 1px 4px;
	height: 19px;
	width: 19px;
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	text-indent: -99999px;
	width: 20px;
	height: 20px;
}

 span.pdf-icon {
	background-image: url('../images/common/cmsicons/pdf-icon.jpg');
	height: 70px;
	width: 70px;
}

.icon-add {
	background-image: url('../images/common/XiaoIcon/11.png');
}
.icon-edit {
	background-image: url('../images/common/cmsicons/edit.gif');
}
.icon-del {
	background-image: url('../images/common/cmsicons/delete.gif');
}
.icon-photo {
	background-image: url('../images/common/cmsicons/picture.png');
}
.icon-copy {
	background-image: url('../images/common/cmsicons/page_copy.png');
}
.icon-save {
	background-image: url('../images/common/cmsicons/page_save.png');
}
.icon-detail {
	background-image: url('../images/common/cmsicons/zoom.png');
}
.icon-checked {
	background-image: url('../images/common/cmsicons/checked.png');
}
.icon-print {
	background-image: url('../images/common/cmsicons/printer.png');
}
.icon-mail {
	background-image: url('../images/common/cmsicons/mail.gif');
}
.icon-bin {
	background-image: url('../images/common/cmsicons/bin_closed.png');
}
.icon-find {
	background-image: url('../images/common/cmsicons/find.png');
}
.icon-refresh, .icon-invert {
	background-image: url('../images/common/cmsicons/arrow_refresh.png');
}
.icon-invert, .icon-find {
	cursor: pointer;
	margin-left: auto !important;
	margin-right: auto !important;
	padding: 0 !important;
}
.icon-shipped, .icon-resolved, .icon-cancelled,
.icon-no-orders, .icon-invert, .icon-find {
	float: none !important
}
.icon-shipped {
	background-image: url('../images/common/cmsicons/cart_go.png');
}
.icon-resolved {
	background-image: url('../images/common/cmsicons/flag_green.png');
}
.icon-cancelled {
	background-image: url('../images/common/cmsicons/flag_red.png');
}
.icon-no-orders {
	background-image: url('../images/common/cmsicons/box.png');
}
.icon-box {
	background-image: url('../images/common/cmsicons/box.png');
}