/* -- Menu Main Settings -- */
#imMnMn {
	padding-top: 0px;
        letter-spacing: 1px;
	float:right; display: inline;
}
#imMnMn ul, #imMnMn ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 1000;
	cursor: pointer;
	display: inline;
	float: left;
}
#imMnMn ul li li {
	/*overflow: hidden;*/
}
#imMnMn ul li {
	padding-right: 0px;
	position: relative;
}
#imMnMn ul a {
	display: block;
	text-decoration: none;
	height: 24px;
	width: 145px;
}
/* -- Menu Main Images -- */
#imMnMn ul li, #imMnMn ul a {
	width: 145px;

}
/* odkaz prvni uroven */
#imMnMn li a,
#imMnMn>ul>li,
#imMnMn>ul>li
{

	font-size: 9pt;
	color: #fff;
	text-align: center;
	line-height: 23px;
	float:left;
}
#imMnMn>ul>li>ul>li {
	text-align: left;
	color: rgb(255, 255, 255);
}

#imMnMn>ul>li>ul>li>span {
	padding-left: 3px;
	font-family: "Tahoma";
	font-size: 11px;
	letter-spacing: 1px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	color: rgb(255, 255, 255);
}

#imMnMn ul li:hover a,
#imMnMn ul li a:hover.imMnItm {
	color: #000;

}



span.imMnLv {
	display: block;
	width: 98%;
	background: url('images/imiconmenu.gif') no-repeat center right;

}

/* -- Menu Level -- */
#imMnMn ul ul {
	display: none;
	position: absolute;
	top: 24px;
	left: 0px;

}
#imMnMn ul ul ul {
	top: 0;
	left: 145px;
}
#imMnMn ul ul li {
	float: left !important;
	float: none;
	display: block !important;
	display: inline;
}

#imMnMn ul li {
	background-color: #666;
	border: 1px solid #fff;
}
#imMnMn>ul>li {
	background-color: #666;
	border: 0;
	border-left: 1px solid #fff;
	border-top: 1px solid #717171;
}

#imMnMn ul ul li span {
	font: 11px Tahoma;

}

/* spodniurovně */
#imMnMn ul li:hover li a, #imMnMn ul li.iehover li a, #imMnMn ul li:hover li:hover li a, #imMnMn ul li.iehover li.iehover li a, #imMnMn ul li:hover li:hover li:hover li a, #imMnMn ul li.iehover li.iehover li.iehover li a {
	/*padding: 3px 3px 3px 6px;*/
	padding: 0 3px;
	font: 11px Tahoma;
	/*border: 1px solid #fff;*/
	line-height:  23px;

	background-color: #666;


	color: #fff;
	/*border: 1px solid #000000;*/
	opacity: 0.85;
	width: 135px;
	float: left !important;
	float: none;
	margin-bottom: 0 !important;
	margin-bottom: -1px;
	text-align: left;
}
#imMnMn ul li li {
	padding-bottom: 0;
	margin-bottom: -1px;
}

#imMnMn ul li:hover ul ul, #imMnMn ul li:hover ul ul ul, #imMnMn ul li.iehover ul ul, #imMnMn ul li.iehover ul ul ul {
	display: none;
}
#imMnMn ul li:hover ul, #imMnMn ul ul li:hover ul, #imMnMn ul ul ul li:hover ul, #imMnMn ul li.iehover ul, #imMnMn ul ul li.iehover ul, #imMnMn ul ul ul li.iehover ul {
	display: block;
}
