/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Contents
==================================================
	#Base 960 Grid
	#Tablet (Portrait)
	#Mobile (Portrait)
	#Mobile (Landscape)
	#Clearing */


/**************Global Structure*****************/
.wrapper{width:100%; overflow:hidden; position:relative;}
.extra-wrap{overflow:hidden; display:block;}


/* #Base 960 Grid
================================================== */

	.container_12{position: relative; width: 960px; margin: 0 auto; padding: 0;}
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12	{float: left; display: inline; margin-left: 15px; margin-right: 15px; min-height: 5px }

	/* Nested Column Classes */
	.container_12 .alpha		{margin-left: 0 !important;}
	.container_12 .omega		{margin-right: 0 !important; margin-bottom:0 !important}

	/* Base Grid */
	.container_12 .grid_1		{width: 50px; }
	.container_12 .grid_2		{width: 130px;}
	.container_12 .grid_3		{width: 210px;}
	.container_12 .grid_4		{width: 290px;}
	.container_12 .grid_5		{width: 370px;}
	.container_12 .grid_6		{width: 450px;}
	.container_12 .grid_7		{width: 530px;}
	.container_12 .grid_8		{width: 610px;}
	.container_12 .grid_9		{width: 690px;}
	.container_12 .grid_10		{width: 770px;}
	.container_12 .grid_11		{width: 850px;}
	.container_12 .grid_12		{width: 930px;}
	/* Prefix Extra Space >> 12 Columns */
	.container_12 .prefix_1 	{padding-left:80px;}
	.container_12 .prefix_2 	{padding-left:160px;}
	.container_12 .prefix_3 	{padding-left:240px;}
	.container_12 .prefix_4 	{padding-left:320px;}
	.container_12 .prefix_5 	{padding-left:400px;}
	.container_12 .prefix_6 	{padding-left:480px;}
	.container_12 .prefix_7 	{padding-left:560px;}
	.container_12 .prefix_8 	{padding-left:640px;}
	.container_12 .prefix_9 	{padding-left:720px;}
	.container_12 .prefix_10 	{padding-left:800px;}
	.container_12 .prefix_11 	{padding-left:880px;}
	/* Suffix Extra Space >> 12 Columns */
	.container_12 .suffix_1 	{padding-right:80px;}
	.container_12 .suffix_2 	{padding-right:160px;}
	.container_12 .suffix_3 	{padding-right:240px;}
	.container_12 .suffix_4 	{padding-right:320px;}
	.container_12 .suffix_5 	{padding-right:400px;}
	.container_12 .suffix_6 	{padding-right:480px;}
	.container_12 .suffix_7 	{padding-right:560px;}
	.container_12 .suffix_8 	{padding-right:640px;}
	.container_12 .suffix_9 	{padding-right:720px;}
	.container_12 .suffix_10 	{padding-right:800px;}
	.container_12 .suffix_11 	{padding-right:880px;}

	/*twin columns*/
	.dgrid_2{float:left; width:130px;}
	.dgrid_3{float:left; width:210px;}
	.dgrid_4{float:left; width:290px;}
		.dgrid_2:first-child, .dgrid_3:first-child, .dgrid_4:first-child{margin-right:30px;}
	/*triple columns*/
	.tgrid_2{float:left; width:130px; margin-right:30px;}
	.tgrid_3{float:left; width:210px; margin-right:30px;}
		.tgrid_2:last-child, .tgrid_3:last-child{margin-right:0px;}


/* #Clearing
================================================== */

	/* Self Clearing Goodness */
	.container_12:after {content: "\0020"; display: block; height: 0; clear: both; visibility: hidden;}

	/* Use clearfix class on parent to clear nested columns,
	or wrap each row of columns in a <div class="row"> */
	.clearfix:before,
	.clearfix:after,
	.row:before,
	.row:after {
		content: '\0020';
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;}
	.row:after, .clearfix:after {clear: both;}
	.row, .clearfix {zoom: 1;}

	/* You can also use a <br class="clear" /> to clear columns */
	.clear {
		clear: both;
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}
