cena-celkem.clear-left {
	clear: left;
}

#imFooter  .links {
	float: left;
	margin-left: 25px;
	line-height: 50px;
}
#imFooter  .links a {
	background: url('../images/common/css-admin/arrow_link.png') no-repeat;
	background-position: 4px 50%;
	padding-left: 13px;

}
#imFooter .creator {
		text-align: right;
		line-height: 50px;
		margin-right: 25px;
}
#imFooter a {
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}
#imFooter a:hover {
	text-decoration: underline;
}


/* added by antonin rykalsky */
#mlmadmin-categories-edit fieldset legend {
	display: block;
	font-size: 1.17em;
	font-weight: 700;
	margin-bottom: 1em;
	margin-top: 1em;

	border-bottom-color: #3f3f3f;
	border-bottom-style: solid;
	border-bottom-width: 1px;

	width: 500px;

	padding-bottom: 5px;
}

#mlmadmin-categories-edit fieldset {
	margin-top: 20px;
	border: none;
}

#mlmadmin-categories-edit fieldset th {
	font-weight: normal;
	width: 200px;
	text-align: left;
	text-transform: lowercase; /* force text to proper case */
}

#mlmadmin-categories-edit .button {
	margin-top: 20px;
	margin-left: 200px;
	font-weight: bold;
}
#mlmadmin-categories-edit ul li {
	list-style-type: none;
}


#mlmadmin-novinky-edit .panelTable{
	float:left;
	margin-bottom: 10px;
}
#mlmadmin-novinky-edit .panelTable.left{
	margin-right: 10px;
	margin-bottom: 10px;
	padding-right: 10px;
	border-right: 1px solid #ACCB32;
}
.cleaner {
	clear: both;

}


#mlmadmin-periods-list .actions {
	text-align: left;

}
#mlmadmin-periods-list .actions a {
	display: block;
	margin-bottom: 5px;
}


/* novinky:list */
#mlmadmin-novinky-list li
{
	list-style-type: none;
}


/* productdetail */
#mlmadmin-eshop-productdetail
{
    color: #3f3f3f;
}

#mlmadmin-eshop-productdetail .image {
	float: left;
}

#mlmadmin-eshop-productdetail .info .description {
	width: 100px;
}

#mlmadmin-eshop-productdetail a { text-decoration: none; }
#mlmadmin-eshop-productdetail a:hover { text-decoration: underline; font-weight: normal; color: #3f3f3f; }

#order-detail h3, #orderdetail h3 { border-bottom: 1px solid #3f3f3f; }


#order-detail .zbozi thead th, #orderdetail .zbozi thead th {
	text-align: left;
	border-bottom: 1px dotted #3f3f3f;
}
#order-detail .cena-celkem, #orderdetail .cena-celkem {
	font-size: 14pt; color: rgb(47, 95, 18);
}
#order-detail .zbozi thead .pocet, #orderdetail .zbozi thead .pocet {
	width: 60px; text-align: left;
}
#order-detail .zbozi thead .body, #orderdetail .zbozi thead .body {
	width: 75px; text-align: left;
}
#order-detail .zbozi thead .nazev, #orderdetail .zbozi thead .nazev {
	width: 250px; text-align: left;
}
#order-detail .zbozi .cena, #orderdetail .zbozi .cena {
	width: 120px; text-align: right;
}
#order-detail .zbozi .body, #orderdetail .zbozi .body {
	width: 75px; text-align: right;
}
#order-detail .o_content {
	margin-left: 10px;
}
#order-detail .center {
	text-align: center;
}
#order-detail textarea { width: 95%; }


#product_list {
	width: 690px;
}

/* PRODUCTLIST */
#product_list .product {
    border: 1px solid #dadada;
    float: left;
    text-align: left;
    margin: 7px;
    width: 320px;

}
#product_list .product_head {
    margin: 0px 10px;
}
#product_list a { text-decoration: none; }
#product_list a:hover { text-decoration: underline; color: #3f3f3f; }


/* TLACITKA IKONY */
a.btn_detail:hover { text-decoration: underline; }
a.btn_detail {
    background-image: url("images/common/btn_detail.gif");
    width: 75px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-left: 10px;
    margin-right: 20px;
    color: #615656;
    text-decoration: none;
}
a.btn_buy:hover { text-decoration: underline; }
a.btn_buy {
    background-image: url("images/common/btn_buy.gif");
    width: 75px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #3f3f3f;
    text-decoration: none;
}
/* ////////////////////////////////////// */

#product_list, #product_list h3 { color: #3f3f3f; }
#product_list .product .image {
    float: left;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
#product_list .product .popis {
    clear: left;
    margin: 10px 10px;
}
/* //////////////////////////// */




/*infobox*/
#basket {
	width: 690px;
}
#basket .mybutton {
	background-image: url("images/common/btn_order.gif");
	width: 140px;
	height: 57px;


	float: right;
	margin: 1px 75px;
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	text-indent: -99999px;
}




.ui-dialog.mydialog {
	background-color: #0B93D5;
	border: none;
}
.ui-dialog.mydialog .ui-dialog-titlebar-close {
	background: url("../../images/common/cms/close.png") no-repeat scroll 50% 50% #000;
	border: none;
}
.ui-dialog.mydialog .ui-widget-header {
	background-color: #0B93D5;
	padding: 0;
	border: none;

}
#s2id_frmsetContext-addContext2 {
    width: 550px;
}
