@charset "utf-8";

#nette-debug-bar { z-index: 101 }
input[readonly] {
    color: #666;
}

#imFooter .revision {
    float: right;
    margin-left: 30px;
}

a { color: #1f1f1f; }
a:hover { color: #1f1f1f; text-decoration: none; }



#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }


.bubbletooltip_tip {
    background-color: #222222;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px #000000 inset;
    color: #FFFFFF;
    padding: 7px;
    position: relative;
    text-shadow: 0 0 3px #000000;
	font-size: 12px;
}



/********************** Template *********************/
html, body {
	margin: 0;
	padding: 0;
	font-family: "arial", sans-serif;
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #000;
	height: 100%;

    /* _text-align: center;*/

}

#ui-datepicker-div { display: none; }
#dialog-form { display: none; }


#imBody {
	position: relative;
	min-width: 980px;
	min-height: 100%;
	margin: 0 auto;
	height: 100%;
}

/* pro ostatni pouzijeme min-height: */
html>body #imBody {
	height: auto;
	min-height: 100%;
}
 /* Opera 9.5+  hack, mozna najdete nekdo i jine reseni  */
*|html[xmlns*=""]  #imBody {
     display: table;
	 height: 100%
}
/* Opera 9.5  hack, mozna najdete nekdo i jine reseni  */

#imHeader {
	height: 50px;
	background-image: url('../images/common/css-admin/fabric.jpg');
	padding: 0 25px;
	overflow: hidden;
}
#imHeader.lastrona-bg {
	background-color: #2d2c2e;
	background-image: none;
}
#imHeader .logo img {
	margin-top: 5px;
}
#imHeader p {
	text-shadow: 1px 2px #4c4c4c;
	color: white;
	font-variant: small-caps;
	padding-top:4px;
	font-size: 25pt;
	float: left;
}

#imHeader .logo {
	position: absolute;
	top:6px;
	left:17px
}

#imHeader .season-panel {
	float:left;
	margin: 10px 30px;
}
#imHeader .season-panel .form {
	text-align: center;
	position: relative;
	top: -26px;
}
#imHeader .season-panel .panel {


	width: 180px;
	height: 30px;
	background-color: white;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	/*pruhlednost*/
	opacity: 0.3;
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	z-index: 1;
}

#imHeader #newUserPanel {
	width: 200px;
	height: 40px;
	float: right;
	margin-top: 5px;
	color: #fff;
}
#imHeader #newUserPanel  a.logout {
	font-size: 80%;
	padding-top: 3px;
}
#imHeader #newUserPanel * {
	float: left;
	z-index: 15;
}
#imHeader #newUserPanel .cotojatka,
#imHeader #newUserPanel .cotojatka-anchor{ z-index: 700; }

#imHeader #newUserPanel .text {
	margin-top: 8px;
	padding-left: 3px;
	position: relative;
	top: -44px;
	left: 0px;
	width: 140px;
	overflow: hidden;
	z-index: 15;
}
#imHeader #newUserPanel .panel {
	position: relative;

	width: 200px;
	height: 40px;
	background-color: white;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	/*pruhlednost*/
	opacity: 0.3;
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	z-index: 1;
}


#imHeader #newUserPanel .profile-icon {
	position: relative;
	top: -40px;
}
#imHeader #newUserPanel a { color: white; text-decoration: none; }
#imHeader #newUserPanel a:hover { color: white; text-decoration: underline; }

#imHeader a { color: white; text-decoration: none; }
#imHeader a:hover { color: white; }

#mlmadmin-novinky-edit
{
	background-color: green;
}
#imBody {
	background-color: #FFFFFF;


	background-repeat: repeat-y;
	background-position: left top;
	font-size: 10pt;
	position: relative;
	height: 100%; /* nastaveni pro IE */
	min-height: 980px;
	/*padding-bottom: 50px;*/
}

#imFooterCenter {
	margin: 0 auto;
}

#imFooter {
	font-size: 16px;
	background-color: #000;
	bottom: 0;
	overflow: hidden;
	width: 100%;

	height: 50px;
	color: #fff;
	text-align: center;

  position: relative;
	margin-top: -50px;
	clear:both;
}






#imMenuMain {
	height: 24px;
	padding: 0 23px;
	background-image: url('../images/common/css-admin/admin_bgmenu.gif');
}

#imContent {
	clear: left;
	padding: 0 0 50px 0;
	color: #3f3f3f;
	min-width: 1200px;
	position: relative;
	z-index:100;

}
#imPanel {

	border-right: 1px solid #EEEEEE;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    padding-right: 20px;
    width: 180px;

}
#imPage {
	overflow: hidden;
	margin-top: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
	width: 940px;
	margin: 0;
}

	#imPage *:not(.datagrid input[type="submit"]) {
	    background-color: #000000;
	    border: medium none;
	    color: #FFFFFF;
	    font-weight: bold;
	    padding: 6px 12px;
	    text-transform: lowercase;

	    -moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
	}


/********************** Styles *********************/
h1 { font-weight: 300; font-size: 16pt; margin-bottom: 0px;}

a img {
	border: 0px;
}

fieldset {
	border-bottom-style: groove;
	border-bottom-width: 2px;
	border-left-style: groove;
	border-left-width: 2px;
	border-right-style: groove;
	border-right-width: 2px;
	border-top-style: groove;
	border-top-width: 2px;
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	padding-bottom: 0.75em;
	padding-left: 0.67em;
	padding-right: 0.67em;
	padding-top: 0.33em;
}

fieldset legend {
	visibility: visible;
}

form .comment:before {
	content: "^ ";
	color: #666666;
	font-size: 10px;
	font-style: italic;
	margin-bottom: 10px;
}

form td.commented {
	padding-top: 6px;
	vertical-align: top;
}

form .comment {
	color: #666666;
	font-size: 10px;
	font-style: italic;
	margin-bottom: 10px;
}


form .form_photo{
	margin: 5px;
}

form label { font-weight: normal; }
form th { text-align: left; vertical-align: top; padding-top: 3px; }

#imPage #content p {
    margin-bottom: 15px;
    font-size: 16px;
}

/* */
/* PANELY */
/* */
#imPanel a { color: #3f3f3f; text-decoration: none; }
#imPanel a:hover { color: #3f3f3f; text-decoration: underline; }

#imPanel .categoryContent {
	margin: 10px 0px;
}

/* mezery mezi obsahem panelů */
#userPanel .content,
#categoryPanel .categoryContent,
#producerPanel .categoryContent
{
	margin: 10px 0 20px 0;

}

/* mezery z boků panelu */
#userPanel ul,
#optionsPanel ul,
#categoryPanel ul,
#producerPanel ul,
#cms-repository ul
{
	padding-left: 10px;
	margin: 10px;
}
#categoryPanel ul{
	padding-left: 0px;
	margin: 0 10px 0 10px;
}

#categoryPanel li {
	list-style-type: none;
}



#userPanel ul li,
#optionsPanel ul li,
#producerPanel ul li,
#cms-repository ul li {
    list-style-image: url("../images/common/css-admin/sipky2.png");
}

#optionsPanel ul li.fake {
	list-style: none;
	padding: 20px 0 10px 0;
	margin: 0;
	position: relative;
	left:-20px;
}

#imPanel .header_img, .options-header_img {
	padding: 0 15px 0 25px;
}
#imPanel .header, .option-header {
	background: url('../images/common/css-admin/fabric.jpg');
	font-size: 15px;
	letter-spacing: 1px;
	padding-left: 10px;
	color: #fff;
	padding: 3px 0px 3px 0px;
}

#imPage .navigation {
	display: block;
	font-size: 8pt;
    color: grey;
	margin-bottom: 3em;
	padding: 0 25px;
}

#imPage .navigation a { color: #808080; text-decoration: underline; }
#imPage .navigation a:hover { color: #808080; text-decoration: none; }
/* -- General Style -- */
#imHeader{
}
#imHeader h1{
	float:left;
}
#imHeader .infobox {
	float:right;
	background-color: #fff;
	margin: 10px;
	margin: 10px;
	width: 220px;
	height: 190px;
}

#imHeader #basketinfo .header
{
	font-size: 10pt;
	padding-left: 50px;
}
#imHeader #basketinfo .content
{
	padding-left: 50px;
}
#imHeader #userinfo .header{
	font-size: 10pt;
	padding-left: 50px;
}
#imHeader #userinfo .content{
	padding-left: 50px;
}
#imHeader #userinfo a:hover{ text-decoration: underline; }
/* / infobox*/
#imHeader div {
	background: center no-repeat
}
body {
	font-size: 16px;
	vertical-align: baseline;
}
p {
	margin: 0;
	padding: 0;
}
.fb {
	font-weight: bold;
}
.fi {
	font-style: italic;
}
.fu {
	text-decoration: underline;
}
ul.imBullet {
	margin: 0 0 0 20px;
	padding: 0;
	text-align: left;
}
ul.imBullet li {
	vertical-align: middle;
}
.imTD {
	padding: 3px;
	line-height: 16px;
}
.imInput_0 {
	width: 95%
}
.imInput_1 {
	width: 65%
}
.imInput_2 {
	width: 45%
}
.imInput_3 {
	width: 25%
}
.imInput_4 {
	width: 10%
}


form {
	margin: 0;
	padding: 0;
	/*width: 400px;*/
	border: none;
}
.imAlign_left {
	text-align: left;
}
.imAlign_center {
	text-align: center;
}
.imAlign_right {
	text-align: right;
}
.imAlign_justify {
	text-align: justify;
}
img.imImage {
	border: 0px;
	vertical-align: baseline;
}
.imHidden {
	display: none;
}
.imClear {
	clear: left;
}
.imError {
	padding: 5px;
	margin: 10px;
	border: 1px solid #000000;
	background-color: #FFFFFF;
	font: 11px Tahoma;
	text-align: center;
	line-height: 16pt;
	overflow: hidden;
}
#imWebSiteX5AdvObj {
	position: relative;
}
#imToolTip {
	position: absolute;
	z-index: 1001;
}
#imShowBoxBG {
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0;
	filter: alpha(opacity=0);
}
#imShowBoxContainer {
	position: absolute;
	z-index: 2001;
	top: 0;
	left: 0;
	width: 100%;
	font: 8pt Tahoma;
	color: #000000;
}

#imShowBoxContent {
	opacity: 0;
	filter: alpha(opacity=0);
}
#imShowBoxDescription {
	padding: 8px 5px 0 5px;
}
#imLockTxt {
	margin-left: 10px;
	font: 11px Tahoma;
	color: #000000;
	min-height: 300px;
	height: auto !important;
	height: 300px;
}
#imLockForm {
	margin: 5px auto;
	text-align: left;
	padding: 5px;
	width: 200px;
}
#imLockAlert {
	background-color: red;
	color: white;
	padding: 0 5px 0 5px;
}
.imLockLabel {
	display: block;
	margin-top: 6px;
}
.imLockBtn {
	font: 11px Tahoma;
	color: #000000;
	background-color: #C0C0C0;
	border: 1px solid #222222;
	margin: 5px;
}
.imLockFld {
	font: 11px Tahoma;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #222222;
	margin: 4px 0;
	vertical-align: middle;
}
/* -- Menu Main Settings -- */
#imMnMn {
	padding-top: 0px;
        letter-spacing: 1px;
	float:right; display: inline;
}
#imMnMn ul, #imMnMn ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 1000;
	cursor: pointer;
	display: inline;
 float: left; height: 24px;
}
#imMnMn ul li {
	padding-right: 0px;
	position: relative;
}
#imMnMn ul a {
	display: block;
	text-decoration: none;
	height: 24px;
	width: 145px;
}


.important { font-weight: bolder; }
.odsad1 { margin-left: 10px; }

/* -- Texts Style -- */
h2 {
	margin: 0px 6px 4px 10px;
	padding: 2px 0 2px 0;
	font: bold 16px Tahoma;
	text-align: left;
}
#imPathTitle {
	margin: 0px 6px 8px 10px;
	padding: 2px 0 2px 0;
	font: 9px Tahoma;
	color: #808080;
	text-align: left;
}
.imDefText {
	padding: 2px 0 2px 0;
	font: 13px Tahoma;
	color: #000000;
	text-align: left;
}

/* -- Search Page Style -- */
#imSBox {
	font: 13px Tahoma;
	color: #000000;
	text-align: center;
}
#imSBox input {
	font: 13px Tahoma;
	color: #000000
}
#imSButton {
	background-color: transparent;
	border: 1px #000000 solid
}
#imSText {
	font: 13px Tahoma;
	color: #000000;
	text-align: left;
	margin: 0 10px 10px 10px;
}
#imSPageTitle {
	position: absolute;
	left: 3px;
	margin-left: 6px;
}
.imSCount {
	font-size: 80%
}
.imSTitle {
	font-size: 120%;
	margin-bottom: 4px;
}
.imSTitle a {
	color: #0000FF;
}
.imSLink {
	margin: 2px 0 16px 0;
}
.imSLink a {
	color: #C000C0;
	text-decoration: none;
}
.imSLink a:hover {
	text-decoration: underline;
}
.imSLabel {
	position: relative;
	font: 13px Tahoma;
	color: #000000;
	padding: 4px 6px 4px 0;
	margin: 7px 0;
	background-color: transparent;
	text-align: right;
	border-top: 1px solid #000000;
}
/* -- Links Style -- */
a.ImLink {
	text-decoration: underline;
}
a.ImLink:link {
	color: #0000FF;
}
a.ImLink:visited {
	color: #C000C0;
}
a.ImLink:hover {
	color: #0000FF;
	text-decoration: underline;
}
a.ImGlossary {
	text-decoration: none;
	border-bottom: 1px dashed;
	cursor: text;
}
a.ImGlossary:hover {
	text-decoration: none;
	cursor: text;
}

.column
{
	width: 260px;
	float: left;
}
.clear { clear: both; }

table .sirka1 { width: 120px; }

#imMnMn ul li .skrtni { text-decoration: line-through; }

hr { height: 1px; border: 0px; border-bottom: 1px solid #000; padding: 0;}

/* CONFIRM FORM */
.static_dialog form {
	float: right; margin: 0;}
.static_dialog {
	background-color: #fff53e;
	overflow: hidden;
	padding: 10px 10px;
	margin-bottom: 10px;
	max-width: 500px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	position: fixed;
	top:60px;
	width: 660px;
	padding: 50px;
}

.static_dialog .btn {
    background-color: #e7e7e7; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.static_dialog .btn.btn-success {background-color: #e7e7e7; color: black;}
.static_dialog .btn.btn-danger {background-color: #008CBA; color: white;}



#admin-config-universal #setting input[type=text] { width: 600px;}

#lastrona-decoration-2 {
	position: fixed;
	bottom: -60px;
	right: -60px;

	/* http://www.css-opacity.pascal-seven.de/ */
-moz-opacity: 0.10;
-khtml-opacity: 0.10;
opacity: 0.10;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=10);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
filter:alpha(opacity=10);

z-index:0;

}




@media only screen and (min-width: 1400px){
	#imPanel{
		position: relative; left: 20px; border-right: none; }

	#imPage {
		/*border-right: 1px solid #eee;*/
		/*border-left: 1px solid #eee;*/

		margin: 0 auto;
		padding: 0;

		position: relative;
		width: 980px !important;
	}

}
