/* prepiseme default overflow
.wrapper { overflow: visible }
header .wrapper { overflow: hidden }
*/


table.icallike {
	border-collapse: separate;
	border: 1px solid #000;
	border-width: 0px 0px 1px 1px;
	margin: 10px auto;
}
table.icallike td, table.icallike th {
	width: 41px;
	height: 41px;
	text-align: center;
	vertical-align: middle;
	background: url(img/cells.png);
	color: #444;
	position: relative;
	padding: 0px !important;
	border-right: 1px solid #000;
}
table.icallike th {
	height: 30px;
	font-weight: bold;
}
table.icallike td:hover, table.icallike th:hover {
	background-position: 0px -81px;
	/*color: #222;*/
	cursor: pointer;
}
table.icallike td.date_has_event {
	background-position: 162px 0px;
	color: white;
}
table.icallike td.date_has_event:hover {
	background-position: 162px -81px;
}
table.icallike td.padding {
	background: url(img/calpad2.jpg);
}
table.icallike td.today {
	background-position: 81px 0px;
	color: white;
}
table.icallike td.today:hover {
	background-position: 81px -81px;
}
table.icallike .events {
	position: relative;
}
table.icallike .events ul {
	text-align: left;
	position: absolute;
	display: none;
	z-index: 1000;
	padding: 15px;
	background: #555555 url(img/popup.png) no-repeat;
	color: white;
	border: 1px solid #000;
	width: 200px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	-border-radius: 3px;
	list-style: none;
	-webkit-box-shadow: 0px 8px 8px #333;
}
table.icallike .events li {
	padding-bottom: 5px;
}
table.icallike .events li span {
	display: block;
	text-align: justify;
	color: white;
}
table.icallike.events li span.title {
	font-weight: bold;
	color: white;
}
